* {
	font-family: sans-serif;
}
th,td {
	border-style: solid;
	border-color: #363636;
	border-width: 1px;
	padding: 14px;
}
a, .btn {
	padding: 14px;
	background-color: #F5F5F5;
	color: #363636;
	text-decoration: none;
}
.btn-success {
	color: white;
	background-color: #5CB85C;
}
.btn-danger {
	color: white;
	background-color: #D9534F;
}
button {
	border: none;
}
input, textarea, select {
	padding: 14px;
	line-height: 20px;
}